<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><Mini-Message-Board></Mini-Message-Board></title>
  </head>
  <body>
    <h1>Messages</h1>
    <br />
    <a href="/new"><button>Add New Messages</button></a>
    <div><%= title %></div>
    <div>
      <ul>
        <% messages.forEach((message) => { %>
        <li><%= message.text %></li>
        <li><%= message.username %></li>
        <li><%= message.added %></li>
        <br />
        <a
          href="/open?text=<%= message.text%>&username=<%= message.username %>&added=<%= message.added %>"
          ><button>Open Message</button></a
        >
        <% }) %>
      </ul>
    </div>
  </body>
</html>
